#outer-container {
  display: flex;
  flex-wrap: wrap;
}

.container-a {
  font-size: 40px;
  margin: 20px;
  width: auto;
  min-height: 300px;
  background: LightGray;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px 100px;
  grid-gap: 10px 20px;
}

.container-b {
  font-size: 40px;
  margin: 20px;
  width: auto;
  min-height: 300px;
  background: LightGray;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px 100px;
  grid-gap: 10px 20px;
  justify-items: center;
}

.container-c {
  font-size: 40px;
  margin: 20px;
  width: auto;
  min-height: 300px;
  background: LightGray;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px 100px;
  grid-gap: 10px 20px;
  align-items: end;
}

.d1{background:LightSkyBlue;}
.d2{background:LightSalmon;}
.d3{background:PaleTurquoise;}
.d4{background:LightPink;}
.d5{background:PaleGreen;}

.d5-b{
  background:PaleGreen;
  grid-column: 2 / 4;
}

.d5-c{
  background:PaleGreen;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.d1-a{
  background:LightSkyBlue;
  justify-self: center;
}

.d1-b{
  background:LightSkyBlue;
  justify-self: start;
}

.d1-c{
  background:LightSkyBlue;
  justify-self: end;
}

.d1-d{
  background:LightSkyBlue;
  justify-self: stretch;
}

.d2-a{
  background:LightSalmon;
  align-self: center;
}

.d2-b{
  background:LightSalmon;
  align-self: start;
}

.d2-c{
  background:LightSalmon;
  align-self: end;
}

.d2-d{
  background:LightSalmon;
  align-self: stretch;
}



