#box-container {
  height: 500px;
  display: flex;
  flex-direction: column;
}

#box-1 {
  background-color: dodgerblue;
  width: 50%;
  height: 50%;
}

#box-2 {
  background-color: orangered;
  width: 50%;
  height: 50%;
}

.examples {
  display: flex;
}

.box-container-a {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 20px;
  height: 300px;
  width: 200px;
}

.box-1 {
  background-color: dodgerblue;
  width: 25%;
  height: 100%;
}

.box-2 {
  background-color: orangered;
  width: 25%;
  height: 100%;
}

.box-container-b {
  display: flex;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 20px;
  height: 300px;
  width: 200px;
}

.box-container-c {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 20px;
  height: 300px;
  width: 200px;
}

.box-container-d {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 20px;
  height: 300px;
  width: 200px;
}



