body {
  margin: 30px;
}

.rectangle1 {
  height: 400px;
  width: 300px;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(45deg, purple, blue, yellow, purple, blue, white);
  float: left;
}

.rectangle2 {
  height: 400px;
  width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(30deg, blue, white, red, blue, white);
  float: right;
}