body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: 'Dokdo', cursive;
}

.nav-bar {
  background-color: rgba(0, 34, 255, 0.3);
  height: 45px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.link {
  position: relative;
  top: 9px;
  left: 50px;
  width: 100px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  border-radius: 20px;
  color: grey;
}

.blocks {
  height: 100px;
}

.block1 {
  background-color: red;
  height: 80px;
  width: 80px;
  position: relative;
  left: 50px;
  top: 10px;
  z-index: 2;
}

.block2 {
  background-color: green;
  height: 80px;
  width: 80px;
  position: relative;
  bottom: 30px;
  left: 20px;
  z-index: 1;
}

.main {
  width: 70%;
  margin: auto;
}
