body {
  margin: 30px;
}

.rectangle1 {
  height: 400px;
  width: 300px;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(45deg, purple, blue, yellow, purple, blue, white);
  float: left;
}

.rectangle2 {
  height: 400px;
  width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(30deg, blue, white, red, blue, white);
  float: right;
}

.rectangle3 {
  height: 400px;
  width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  background-color: black;
}

.rectangle4 {
  height: 400px;
  width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  background-color: blueviolet;
}

.center {
  /* position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 25px 10px 0px 0px blue; 
}

.heart {
  position: absolute;
  left: 300px;
  bottom: 0px; 
  background-color: yellow;
  height: 50px;
  width: 50px;
  /* transform: rotate(-45deg); */
}
.heart::after {
  background-color: red;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -10px;
  left: 25px;
}
.heart::before {
  content: "";
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: -15px;
}